[class^='select2'] {
  border-radius: 0px !important;
}
.mce-ico.mce-i-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-root{
	background-color: #000066;
	color: white
}
.btn-root:hover {
  background-color: #010145;
  color:#FFD500;
}

.bg-root-table{
	background-color: #343a40 !important;
	color: white;
}

.active_sidebar{
	background-color: #0279a2!important;
	color: #fff!important;
}

/*badge admin level*/

.badge-admin {
  color: #ffffff;
  background-color: #000000;
}
.badge-reporter {
  color: #ffffff;
  background-color: #025a0d;
}

.badge-redaktur {
  color: #ffffff;
  background-color: #007075;
}

.badge-editor {
  color: #ffffff;
  background-color: #980000;
}

/*badge status*/
.badge-published{
  color: #ffffff;
  background-color: #025a0d;
}

.badge-scheduled{
  color: #ffffff;
  background-color: #c5ad00;
}

.badge-draft{
  color: #ffffff;
  background-color: #007075;
}

.badge-deleted{
  color: #ffffff;
  background-color: #980000;
}

/*for image filemanager*/
.card-img-top {
    width: 100%;
    /*height: 80%;*/
    max-height: 120px;
    object-fit: cover;
  }

/*for iframe*/
  .fileIframe {
    overflow: hidden;
    padding-top: 0%;
    position: relative;
  }

  .contentIframe iframe {
    border: 0;
    height: 510px;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 100%;
  }

  /*for iframe 2*/
  .iframe_6_9 {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
  }

  .iframe_resposive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  .mce-content-body img {
    max-width: 10%;
    height: auto;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}